<h1>welcome to
  <i class="fa-solid fa-book"></i>
  <strong>Bookers</strong>!!
</h1>
    <p>in
      <i class="fa-solid fa-book"></i>
      <strong>Bookers</strong>
    </p>
    <p>you can share and exchange your opinions , inpressions , and emotions</p>
    <p>about various books!</p>

<div class="btn-wrapper col-10 mx-auto">
  <div class="row">
    <div class="btn btn-success btn-sm btn-block sign in"></div>
      <span><%= link_to "Log in", users_sign_in_path %></span>
    <div class="btn btn-success btn-sm btn-block sign_up">
      <span><%= link_to "Sign up", users_sign_up_path %></span>
    </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>


